

/* centralization of all page content */

.card {
  border: none;
}


.wrapper  {
  width: 100%;
  margin: 0px auto;
}


.wrapper .container-fluid {
  width: 95%;
  margin: 0px auto;
}

.wrapper1  {
  width: 100%;
  margin: 0px auto;
}

.wrapper1 .container-fluid {
  width: 95%;
  margin: 0px auto;
}

.display_events .container-fluid {
  margin-top: 5%;
  box-shadow: 2px 2px 5px 5px lightgray;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 5%;
}




/* side bar responsive */

.side_bar_content .container-fluid {
  margin-top: 20px;
  box-shadow: 2px 2px 5px 5px lightgrey;
  border-radius: 5px;
  padding: 10px;
}

.side_bar_content h2 {
  color: #FF4800;
  font-size: 50px;
}

.side_bar_content p {
  font-size: 30px;
}

.logo_img {
  text-align: center;
  margin-bottom: 30px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-bottom: 20px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* single card styling */

.first_section {
  margin-bottom: 7%;
  width: 80%;
  margin: 0px auto;
}

.second_section {
  margin-bottom: 7%;
  width: 80%;
  margin: 0px auto;
  margin-top: 100px;
}

.event_card {
  box-shadow: 2px 2px 5px 5px lightgray;
  text-align: center;
  padding: 30px;
  border-radius: 4px;
}

.event_card i {
  font-size: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
